.svn
.project
.gradle
.settings
.classpath
.subversion
.repo
.sass-cache
.idea
*.iml
*.ipr
*.iws
*.emlcd ..
*.log
*.orig
rebel.xml
reports
.vscode

main.js
plugins.js

.DS_Store
.metadata/
build
bin
out
classes
target/
node_modules/
tmp/
.vagrant